# 2. Data validation

In [ ]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.11/dist-packages (0.24.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from pandera) (24.2)
Requirement already satisfied: pydantic in /usr/local/lib/python3.11/dist-packages (from pandera) (2.11.7)
Requirement already satisfied: typeguard in /usr/local/lib/python3.11/dist-packages (from pandera) (4.4.4)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.11/dist-packages (from pandera) (4.14.0)
Requirement already satisfied: typing_inspect>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pandera) (0.9.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from typing_inspect>=0.6.0->pandera) (1.1.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->pandera) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic->pandera) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->pandera) (0.4.1)

In [ ]:
import pandas as pd
import numpy as np
import pandera.pandas as pa

nhập dữ liệu

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/mmm-pygame/Final-Project-Machine-Learning/refs/heads/main/data/raw/raw_data.csv')

In [ ]:
schema=pa.DataFrameSchema(
    {
        "PassengerId":pa.Column(dtype=pa.Int64,nullable=False,unique=True),
        "Ticket":pa.Column(dtype=pa.String,checks=[pa.Check.str_contains(pattern=r'^[a-zA-Z0-9\s/\.]+$')]),
        "Name":pa.Column(dtype=pa.String,checks=[pa.Check.str_contains(r'^[a-zA-Z,\s\.\(\)]+$')],nullable=False),
        "Embarked":pa.Column(dtype=pa.String,checks=[pa.Check.isin(['S','C','Q'])],nullable=False),
        "Cabin":pa.Column(dtype=pa.String,checks=[pa.Check.str_contains(r'^[A-Z0-9\s]+$')],nullable=False),
        "Pclass":pa.Column(dtype=pa.Int64,checks=[pa.Check.isin([1,2,3])],nullable=False),
        "Sex":pa.Column(dtype=pa.String,checks=[pa.Check.isin(['male','female'])],nullable=False),
        "Age":pa.Column(dtype=pa.Int64,checks=[pa.Check.in_range(0,81)],nullable=False),
        "Fare":pa.Column(dtype=pa.Float64,checks=[pa.Check.ge(0.0)],nullable=False),
        "SibSp":pa.Column(dtype=pa.Int64,checks=[pa.Check.in_range(0,8)],nullable=False),
        "Parch":pa.Column(dtype=pa.Int64,checks=[pa.Check.in_range(0,6)],nullable=False),
        "Survived":pa.Column(dtype=pa.Int64,checks=[pa.Check.isin([0,1])],nullable=False)
    })

In [ ]:
try:
  schema.validate(df,lazy=True)
  print('Valid Dataset')
except pa.errors.SchemaError as er:
  print('Đã xảy ra lỗi: ',er.failure_cases)

SchemaErrors: {
    "DATA": {
        "DATAFRAME_CHECK": [
            {
                "schema": null,
                "column": "Name",
                "check": "str_contains('^[a-zA-Z,\\s\\.\\(\\)]+$')",
                "error": "Column 'Name' failed element-wise validator number 0: str_contains('^[a-zA-Z,\\s\\.\\(\\)]+$') failure cases: McGowan, Miss. Anna \"Annie\", O'Dwyer, Miss. Ellen \"Nellie\", Nicola-Yarred, Miss. Jamila, O'Driscoll, Miss. Bridget, Arnold-Franchi, Mrs. Josef (Josefine Franchi), Petroff, Mr. Pastcho (\"Pentcho\"), Nicola-Yarred, Master. Elias, Andersson, Mr. August Edvard (\"Wennerstrom\"), Ford, Miss. Robina Maggie \"Ruby\", Navratil, Mr. Michel (\"Louis M Hoffman\"), Gilnagh, Miss. Katherine \"Katie\", Watt, Mrs. James (Elizabeth \"Bessie\" Inglis Milne), Goldsmith, Master. Frank John William \"Frankie\", Kink-Heilmann, Miss. Luise Gretchen, O'Brien, Mrs. Thomas (Johanna \"Hannah\" Godfrey), Romaine, Mr. Charles Hallace (\"Mr C Rolmane\"), Andersen-Jensen, Miss. Carla Christine Nielsine, Madigan, Miss. Margaret \"Maggie\", Yrois, Miss. Henriette (\"Mrs Harbeck\"), Cohen, Mr. Gurshon \"Gus\", Carr, Miss. Helen \"Ellen\", Lovell, Mr. John Hall (\"Henry\"), Collyer, Miss. Marjorie \"Lottie\", Murphy, Miss. Katherine \"Kate\", Healy, Miss. Hanora \"Nora\", Parkes, Mr. Francis \"Frank\", Barber, Miss. Ellen \"Nellie\", Kelly, Miss. Anna Katherine \"Annie Kate\", Williams, Mr. Howard Hugh \"Harry\", Brown, Miss. Amelia \"Mildred\", Coutts, Master. William Loch \"William\", Williams-Lambert, Mr. Fletcher Fellows, Arnold-Franchi, Mr. Josef, Mockler, Miss. Helen Mary \"Ellie\", O'Brien, Mr. Thomas, Nakid, Miss. Maria (\"Mary\"), Widegren, Mr. Carl/Charles Peter, Phillips, Miss. Kate Florence (\"Mrs Kate Louise Phillips Marshall\"), Bjornstrom-Steffansson, Mr. Mauritz Hakan, Ford, Miss. Doolina Margaret \"Daisy\", Johannesen-Bratthammer, Mr. Bernt, O'Connor, Mr. Maurice, Frost, Mr. Anthony Wood \"Archie\", Coutts, Master. Eden Leslie \"Neville\", O'Sullivan, Miss. Bridget Mary, Bradley, Mr. George (\"George Arthur Brayton\"), Angle, Mrs. William A (Florence \"Mary\" Agnes Hughes), O'Brien, Mr. Timothy, Leeni, Mr. Fahim (\"Philip Zenni\"), Duff Gordon, Lady. (Lucille Christiana Sutherland) (\"Mrs Morgan\"), Flynn, Mr. John Irwin (\"Irving\"), Frolicher-Stehli, Mr. Maxmillian, Duff Gordon, Sir. Cosmo Edmund (\"Mr Morgan\"), Homer, Mr. Harry (\"Mr E Haven\"), Bowen, Mr. David John \"Dai\", O'Connell, Mr. Patrick D, Stahelin-Maeglin, Dr. Max, Simonius-Blumer, Col. Oberst Alfons, O'Leary, Miss. Hanora \"Norah\", Hegarty, Miss. Hanora \"Nora\", Mullens, Miss. Katherine \"Katie\", Morley, Mr. Henry Samuel (\"Mr Henry Marshall\"), Kelly, Mrs. Florence \"Fannie\", Moubarek, Master. Halim Gonios (\"William George\"), Mayne, Mlle. Berthe Antonine (\"Mrs de Villiers\"), Troutt, Miss. Edwina Celia \"Winnie\", Harper, Miss. Annie Jessie \"Nina\", Ryerson, Miss. Susan Parker \"Suzette\", Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards), Keane, Mr. Andrew \"Andy\", Sage, Miss. Dorothy Edith \"Dolly\", Najib, Miss. Adele Kiamie \"Jane\", Johnston, Miss. Catherine Helen \"Carrie\""
            }
        ]
    },
    "SCHEMA": {
        "SERIES_CONTAINS_NULLS": [
            {
                "schema": null,
                "column": "Embarked",
                "check": "not_nullable",
                "error": "non-nullable series 'Embarked' contains null values:61     NaN829    NaNName: Embarked, dtype: object"
            },
            {
                "schema": null,
                "column": "Cabin",
                "check": "not_nullable",
                "error": "non-nullable series 'Cabin' contains null values:0      NaN2      NaN4      NaN5      NaN7      NaN      ... 884    NaN885    NaN886    NaN888    NaN890    NaNName: Cabin, Length: 687, dtype: object"
            },
            {
                "schema": null,
                "column": "Age",
                "check": "not_nullable",
                "error": "non-nullable series 'Age' contains null values:5     NaN17    NaN19    NaN26    NaN28    NaN       ..859   NaN863   NaN868   NaN878   NaN888   NaNName: Age, Length: 177, dtype: float64"
            }
        ],
        "WRONG_DATATYPE": [
            {
                "schema": null,
                "column": "Age",
                "check": "dtype('int64')",
                "error": "expected series 'Age' to have type int64, got float64"
            }
        ]
    }
}

**Nhận xét:** Có giá trị NaN ở các cột Name,Embarked,Cabin,Age. Ngoài ra, Age còn chứa hai kiểu dữ liệu là Float và Int so với đánh giá chủ quan ban đầu là chỉ kiểu Int.

**Kết luận:** Chỉ cần điều chỉnh cột Age vì theo bước EDA sẽ loại bỏ các feature Name, Embarked, Cabin do không quan trọng. Còn cột Age có sức ảnh hưởng tới Survived cần fill vào missing values và chuẩn hóa sang Float để cụ thể hóa khoảng tuổi chính xác=> dễ tính toán hơn.